<div class="item">
                        <div class="product">
                            <div class="product_img">
                                <a href="">
                                    <img height="250" src="/assets/uploads/products/{{ product.image }}" alt="{{ product.name }}">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="{{ path('cart_add', {'id': product.id}) }}"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                        <li><a href=""><i class="icon-shuffle"></i></a></li>
                                        <li><a href="{{ path('product_details', {'slug': product.slug}) }}" class=""><i class="icon-magnifier-add"></i></a></li>
                                        <li><a href="#"><i class="icon-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a href="">{{ product.name }}</a></h6>
                                <div class="product_price">
                                    <span class="price">${{ product.price/100 }}</span>
                                    <del>${{ product.price*1.35/100 }}</del>
                                    <div class="on_sale">
                                        <span>35% Off</span>
                                    </div>
                                </div>
                                <div class="rating_wrap">
                                    <div class="rating">
                                        <div class="product_rate" style="width:80%"></div>
                                    </div>
                                    <span class="rating_num">(21)</span>
                                </div>
                                <div class="pr_desc">
                                    <p>{{ product.description|raw }}.</p>
                                </div>

                            </div>
                        </div>
</div>